* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #00a2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 480px;
    width: 320px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
}

#storiyan {
    height: 120px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;
    border-bottom: 1px solid #dadada;
}

#storiyan::-webkit-scrollbar {
    display: none;
}

.story {
    height: 90px;
    border: 3px solid red;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#full-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
}